@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cl-neutral-20);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--cl-neutral-60);
}
:root {
  --font: "Google Sans Text", "Helvetica Neue", sans-serif;
  --tw-text-opacity: 1;
  --cl-role-model-bg: #1a3059;
  --cl-role-user-bg: #33573e;
}
:root,
.light {
  --bg-body: #fff;
  --bg-color: #f7f8f8;
  --cl-primary: #1a1c1e;
  --cl-primary-30: #87a9ff;
  --cl-primary-70: #1a73e8;
  --cl-primary-80: #002c70;
  --cl-surface-container-low: #f3f3f6;
  --cl-surface-container-lowest: #fff;
  --cl-surface-container-high: #e8e8eb;
  --cl-surface-container-highest: #e2e2e5;
  --cl-surface-bright: #f9f9fc;
  --cl-neutral-8: #edeef1;
  --cl-neutral-10: #e2e2e5;
  --cl-neutral-20: #c6c6c9;
  --cl-neutral-30: #a8abb4;
  --cl-neutral-50: #76777a;
  --cl-neutral-60: #5d5e61;
  --cl-neutral-70: #45474a;
  --cl-neutral-80: #2f3133;
  --cl-neutral-90: #001d35;
  --cl-bg-dropdown: #fff;
  --cl-item-dropdown: #f3f3f6;
  --cl-divider: rgba(0, 0, 0, 0.12);
  --cl-toggle: rgba(60, 64, 67, 0.04);
  --cl-disabled: #1e1a1c1f;
}
.dark {
  --bg-body: #0c0e11;
  --bg-color: #1e2023;
  --cl-primary: #fff;
  --cl-primary-30: #1a73e8;
  --cl-primary-70: #87a9ff;
  --cl-primary-80: #b1c5ff;
  --cl-surface-container-low: #1a1c1e;
  --cl-surface-container-lowest: #0c0e11;
  --cl-surface-container-high: #282a2d;
  --cl-surface-container-highest: #333537;
  --cl-surface-bright: #37393c;
  --cl-neutral-8: #242629;
  --cl-neutral-10: #1a1c1e;
  --cl-neutral-20: #2f3133;
  --cl-neutral-30: #45474a;
  --cl-neutral-50: #76777a;
  --cl-neutral-60: #8f9194;
  --cl-neutral-70: #aaabae;
  --cl-neutral-80: #c6c6c9;
  --cl-neutral-90: #e2e2e5;
  --cl-bg-dropdown: #282a2d;
  --cl-item-dropdown: #45474a;
  --cl-divider: rgba(255, 255, 255, 0.12);
  --cl-toggle: rgba(232, 234, 237, 0.08);
  --cl-disabled: #e2e2e51f;
}
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  font-family: var(--font);
  color: var(--cl-primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--bg-body);
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.material-symbols-outlined {
  font-size: 1.25rem !important;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 30;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
ul,
ol {
  line-height: 1.5;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.bg-color {
  background-color: var(--cl-neutral-8);
  border: 1px solid var(--cl-neutral-20);
}
.border-color {
  border-color: var(--cl-neutral-20);
}
.rounded-4xl {
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
}
.opacity-transition {
  -webkit-transition: opacity 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: opacity 0.3s cubic-bezier(0, 0, 0, 0);
  transition: opacity 0.3s cubic-bezier(0, 0, 0, 0);
}
.word-break {
  word-break: break-word;
}
.btn-color[disabled] {
  pointer-events: none;
  cursor: default;
  color: var(--cl-neutral-50) !important;
  background: var(--cl-disabled) !important;
}
.btn-color[disabled] svg path {
  fill: current !important;
}
@media (min-width: 768px) {
  .show-mb {
    display: none;
  }
}
@media (max-width: 767px) {
  .hide-mb {
    display: none;
  }
}
/* Controls */
.input,
.custom-select {
  font-family: var(--font) !important;
  font-size: 0.875rem !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background: none !important;
  min-height: 40px !important;
}
.input:not(.Mui-disabled),
.custom-select:not(.Mui-disabled) {
  border-radius: 8px !important;
  border: 1px solid var(--cl-primary) !important;
  color: var(--cl-primary) !important;
}
.input:before,
.custom-select:before {
  box-shadow: none !important;
}
.input:focus-within,
.custom-select:focus-within {
  border: 1px solid var(--cl-primary) !important;
}
textarea {
  background: none;
}
textarea:focus-within {
  outline: none !important;
}
.btn-color {
  background-color: var(--cl-primary-70);
  color: var(--cl-neutral-10);
}
.btn-color:hover {
  background-color: var(--cl-primary-80);
  color: var(--cl-neutral-10);
}
.show-more[aria-expanded="true"] {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/* Dropdown */
.dropdown-menu {
  min-width: 120px;
  font-family: var(--font) !important;
  font-size: 0.875rem !important;
  background-color: var(--cl-bg-dropdown);
  border-color: var(--cl-neutral-8);
  box-shadow: var(--joy-shadowRing, 0 0 #000),
    0px 2px 8px -2px rgba(var(--joy-shadowChannel, 21 21 21) /
          var(--joy-shadowOpacity, 0.08)),
    0px 6px 12px -2px rgba(var(--joy-shadowChannel, 21 21 21) /
          var(--joy-shadowOpacity, 0.08));
}
/*Modal*/
.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: #fff;
  --bs-modal-border-color: rgba(0, 0, 0, 0.175);
  --bs-modal-border-width: 1px;
  --bs-modal-border-radius: 0.5rem;
  --bs-modal-box-shadow: 0 12px 16px #091d4d0d, 0 12px 36px #0c2e7e1a;
  --bs-modal-inner-border-radius: 6px;
  --bs-modal-title-line-height: 1.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: #0000001a;
}
.modal .modal-title {
  border-bottom: 1px solid #eaecf0;
}
.modal .modal-dialog {
  position: relative;
  width: 96%;
  margin: var(--bs-modal-margin) auto;
  pointer-events: none;
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
  height: calc(100% - var(--bs-modal-margin) * 2);
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
.modal.show .modal-dialog {
  transform: none;
}
.modal .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: none;
  border-radius: var(--bs-modal-border-radius);
  box-shadow: 0 12px 16px #091d4d0d, 0 12px 36px #0c2e7e1a;
  outline: 0;
  max-height: 100%;
  overflow: hidden;
}
.modal .btn-close {
  --bs-btn-close-color: #323743;
  --bs-btn-close-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M12.4 3.6001L3.59998 12.4001" stroke="%23323743" strokeWidth="0.8" stroke-miterlimit="10" strokeLinecap="round" strokeLinejoin="round"/><path d="M3.59998 3.6001L12.4 12.4001" stroke="%23323743" strokeWidth="0.8" stroke-miterlimit="10" strokeLinecap="round" strokeLinejoin="round"/></svg>');
  --bs-btn-close-opacity: 0.5;
  --bs-btn-close-hover-opacity: 0.75;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-btn-close-focus-opacity: 1;
  --bs-btn-close-disabled-opacity: 0.25;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  box-sizing: content-box;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  color: var(--bs-btn-close-color);
  background: transparent var(--bs-btn-close-bg) center/56% auto no-repeat;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.modal .btn-close:hover {
  background-color: #f0f4f8;
}
.modal .modal-title,
.modal .table thead {
  font-family: var(--font2);
}
.modal table tbody {
  font-family: var(--font);
}
.modal-lg {
  max-width: 1360px !important;
}
@media (max-width: 991px) {
  .modal-footer {
    border-top: 1px solid #eaecf0;
  }
}
@media (min-width: 576px) {
  .modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: var(--bs-box-shadow);
  }
  .modal .modal-dialog {
    max-width: var(--bs-modal-width);
  }
}
/*Modal Sidebar*/
.MuiDrawer-backdrop,
.MuiModal-backdrop {
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
}
.modal *,
.modal-sidebar *,
.modal-dialog * {
  font-family: var(--font) !important;
}
.modal-close {
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  border-radius: 100% !important;
}
.modal-sidebar .note-group {
  font-size: 0.875rem;
}
.modal-sidebar .modal-title {
  -webkit-box-shadow: 0 0 4px 0 #bdc1ca;
  -moz-box-shadow: 0 0 4px 0 #bdc1ca;
  box-shadow: 0 0 4px 0 #bdc1ca;
  margin: 0;
  position: relative;
  z-index: 2;
}
.modal-sidebar .modal-content {
  padding: 24px 20px;
}
.modal-sidebar .form-label.hidden {
  display: none;
}
@media (max-width: 575px) {
  .modal-sidebar .modal-content {
    padding-left: 24px;
    padding-right: 24px;
  }
}
/* Data Table */
.data-table th {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 16px 12px;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
  background-color: var(--bg-body);
}
.tbl-mb th {
  border-bottom: 1px solid var(--cl-neutral-30);
}
.data-table tbody td {
  vertical-align: middle;
  padding: 6px 12px;
  border-bottom: 1px solid var(--cl-neutral-30);
}
.data-table td .tend {
  color: var(--cl-primary-80);
}
.data-table tr:hover {
  background-color: var(--cl-neutral-10);
}
@media (min-width: 992px) {
  .data-table th {
    border-bottom: 1px solid var(--cl-neutral-30);
  }
}
@media (max-width: 991px) {
  .data-table:not(.tbl-mb) thead {
    display: none;
  }
  .data-table:not(.tbl-mb),
  .data-table:not(.tbl-mb) tbody,
  .data-table:not(.tbl-mb) tr {
    display: block !important;
    position: relative;
  }
  .data-table:not(.tbl-mb) tr {
    position: relative;
    padding: 12px 0 8px;
    border-top: 1px solid #f3f4f6;
  }
  .data-table:not(.tbl-mb) td {
    display: flex !important;
    padding: 3px 0;
    border: none;
  }
  .data-table:not(.tbl-mb) td.check-row {
    position: absolute;
    top: 12px;
    left: 0;
  }
  .data-table:not(.tbl-mb) td[data-cont]:before {
    content: attr(data-cont);
    margin-right: 8px;
    white-space: nowrap;
    font-weight: 300;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
  }
  .data-table:not(.tbl-mb) .tend {
    font-weight: 700;
  }
}
/*Quill*/
[contenteditable="true"] {
  font-family: var(--font);
  font-size: 0.875rem !important;
  word-break: break-word;
}
.keyword[contenteditable="true"]:focus {
  outline: 2px solid var(--cl-primary-70);
}
/* [contenteditable="true"]:empty {
  margin-bottom: 0.5rem;
} */
[contenteditable="true"]:empty:before {
  content: attr(data-placeholder);
  pointer-events: none;
  display: block;
  color: var(--cl-neutral-30);
}
.ql-editor {
  font-size: 1rem;
  font-family: var(--font);
  font-size: 0.875rem;
}
.ql-editor.ql-blank::before {
  font-style: normal !important;
  font-weight: 500;
  color: var(--cl-neutral-30);
}
.ql-container.ql-snow {
  height: auto;
  flex-grow: 1;
  overflow: auto;
}
.keyword {
  color: var(--cl-primary-70);
}
.border-keyword {
  padding: 5px;
  border: 2px solid var(--cl-primary-70);
  border-radius: 5px;
  background: rgba(183, 197, 210, 40%);
  cursor: pointer;
  font-weight: 500;
}
ol {
  list-style-type: decimal !important;
}
[contenteditable="true"]:focus-visible,
.border-keyword:focus-visible {
  outline: none;
}
.border-keyword:focus,
.border-keyword:focus-visible {
  border: none;
  background: none;
}
.content-wrap {
  white-space: pre-wrap;
  outline: none;
}
.dots-loading span {
  width: 10px;
  height: 10px;
  background-color: var(--cl-primary-70);
  border-radius: 50%;
  -webkit-animation: loading 1.5s infinite ease-in-out;
  animation: loading 1.5s infinite ease-in-out;
}

.dots-loading span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.dots-loading span:nth-child(3) {
  -webkit-delay: 0.4s;
  animation-delay: 0.4s;
}

@keyframes loading {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
