/*Page*/
#app {
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: var(--font) !important;
  font-size: 0.875rem !important;
  line-height: 1.5;
  color: var(--cl-primary);
  font-feature-settings: normal;
  font-variation-settings: normal;
}
.bar {
  border-color: var(--cl-neutral-20);
}
.sidebar {
  z-index: 500;
  overflow: hidden;
}
.sidebar > .inner > div {
  padding-left: 18px;
  padding-right: 18px;
}
.sidebar-btn.active {
  background-color: var(--cl-neutral-20);
}
#sidebar-left {
  -webkit-transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 0),
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 0),
    left 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 0),
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 0),
    left 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}
#sidebar-left > .inner {
  background-color: var(--cl-surface-container-low);
  border-right: 1px solid var(--cl-neutral-20);
}
#sidebar-right {
  -webkit-transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 0),
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 0),
    right 0.2s cubic-bezier(0.4, 0, 0.2, 0);
  transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 0),
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 0),
    right 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}
#sidebar-right > .inner {
  border-left: 1px solid var(--cl-neutral-20);
}
#sidebar-right > .inner > div {
  padding-right: 12px;
}
.setting-options [aria-hidden="true"] {
  display: none;
}
#main-content {
  max-height: calc(100% - 65px);
}
@media (min-width: 1101px) {
  .logo img {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .logo .i1 {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .logo .i2 {
    margin-left: -32px;
  }
  #sidebar-left.compact .logo .i1 {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  #sidebar-left.compact .logo .i2 {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  #sidebar-left {
    width: 73px;
  }
  #sidebar-left.expanded {
    width: 272px;
  }
  #sidebar-right {
    width: 65px;
    height: calc(100vh - 64px);
  }
  #sidebar-right.expanded {
    width: 295px;
  }
  #sidebar-left.compact .sidebar-menu .name,
  #sidebar-left.compact .info-account .name,
  #sidebar-left.compact .recent-post,
  #sidebar-right.compact > .inner > *:not(.bot-sidebar) {
    opacity: 0;
    pointer-events: none;
  }
  #sidebar-left.compact .recent-post {
    display: none;
  }
  #sidebar-left .sidebar-btn {
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-property: margin, width, padding, border-radius;
    transition-property: margin, width, padding, border-radius;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  #sidebar-left.compact .sidebar-btn {
    padding-right: 0;
    width: 36px;
  }
}
@media (max-width: 1100px) {
  .sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
  }
  .sidebar:before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
    -moz-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
  }
  .sidebar.compact:before {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  #sidebar-left {
    left: -100%;
    width: 272px;
  }
  #sidebar-left.compact {
    left: 0;
  }
  #sidebar-right {
    right: -100%;
    width: 295px;
  }
  #sidebar-right.compact {
    right: 0;
  }
  #sidebar-right > .inner {
    background-color: var(--cl-surface-container-low);
  }
}
/*main content*/
.featured-guides .box-guide:hover {
  border-color: var(--cl-primary-70);
}
.chat-prompt .actions-prompt {
  border-color: var(--cl-neutral-20);
}
.list-post {
  max-height: 100%;
}
.tbl-library td .tend {
  max-width: 200px;
}
.result-area .single-role:not(.editing):hover,
.single-role .group-actions {
  background-color: var(--cl-neutral-10);
}
.single-role:hover .group-actions,
.single-role.editing .group-actions {
  opacity: 1;
}
.single-role.editing {
  border-color: var(--cl-neutral-60);
}
.single-role .toggle-role .status {
  color: var(--cl-neutral-60);
}
.img-wrap .loaded-image {
  max-height: 30vh;
  max-width: 100%;
}
.info-prompt .img-wrap {
  border-color: var(--cl-neutral-30);
}
.result-area p {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}
.result-area ul,
.result-area ol {
  list-style-position: inside;
  list-style-type: inherit;
  margin: 1rem 0;
}
.result-area ul li,
.result-area ol li {
  padding: 0.125rem 0;
}
.result-area a {
  color: var(--cl-primary-70);
  font-weight: 500;
}
.result-area .syntax-highlighted-code {
  background-color: var(--cl-surface-container-low);
  font-size: 0.813rem;
}
.syntax-highlighted-code code {
  text-wrap: wrap;
}
.search-bar {
  background: var(--cl-neutral-8);
  border: 1px solid var(--cl-neutral-60);
}
.search-bar-input:focus {
  outline: none;
}
.note-highlighted-code {
  background-color: var(--cl-surface-bright);
}
/*Theme*/
.choose-theme .active {
  background-color: var(--cl-neutral-20);
}
.choose-theme .icon-wrap > span {
  font-size: 0.875rem !important;
}
